<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>imagesPath</param-name>
        <param-value>resources/images/</param-value>
    </context-param>
    <context-param>
        <description>The delivery surcharge applied to all orders</description>
        <param-name>deliverySurcharge</param-name>
        <param-value>3.00</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources.messages</param-value>
    </context-param>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>controller.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/category</url-pattern>
        <url-pattern>/addToCart</url-pattern>
        <url-pattern>/viewCart</url-pattern>
        <url-pattern>/updateCart</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/purchase</url-pattern>
        <url-pattern>/chooseLanguage</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>MVCServlet</servlet-name>
        <servlet-class>controller.MVCServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MVCServlet</servlet-name>

        <url-pattern>/mvc/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>Header and Footer settings</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/*</url-pattern>
            <url-pattern>/admin/login.jsp</url-pattern>
            <url-pattern>/admin/error.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <!-- <resource-ref>
        <res-ref-name>jdbc/petstore</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>-->
    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>PetStore Administration</web-resource-name>
            <description/>
            <url-pattern>/Admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>PetStoreAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/admin/login.jsp</form-login-page>
            <form-error-page>/admin/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>PetStoreAdmin</role-name>
    </security-role>
    <context-param>
        <param-name>ServiceDispatcherServlet</param-name>
        <param-value>controller.ViewCustomersServletService</param-value>
    </context-param>
</web-app>
